%h1 Add a New Idea
%h3 1. Think about the minimum number of people you would need to place an order.
%h3 2. Figure out the price for that minimum number of people.
%h3 3. Download and upload a picture and attach a link.
%h3 3a. If you are planning something like paintball, attach a link to the place.
%h3 3b. If you are designing apparel, attach a link to the Customink order.
%h3 4. Set a date where at midnight EST you will not count more people in.
%h3 4a. All people who say they are buying in are liable to paying or they will be fined.
%h3 5. Add a description using your wit.

= render 'form'
